{% load crispy_forms_filters %}
<div class="container">
    <div class="popup-overlay"></div>
    <div class="popup">
        <div class="popup-close" onclick="closeLoginForm()">&times;</div>
        <form method="POST" class="form">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2">Log In</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an Account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
            </small>
        </div>
    </div>
</div>