{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    {% include 'layouts/navbar.html' %}
    <div id="hero-section">
        <div class="container">
            <div id="head-line">
                <h1>StarLigHTs</h1>
            </div>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-3">
                        <li class="breadcrumb-item"><a href="{% url 'home-page' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Blog Post</a></li>
                        <li class="breadcrumb-item active">{{ post.title }}</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-2 col-md-4">
                {% include 'layouts/dark_switcher.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-6">
                <div class="card border-0 mb-4">
                    <div class="card-body">
                        <h2>{{ post.title }}</h2>
                        <a href="#" class="badge badge-primary"><i class="fas fa-tags" aria-hidden="true"></i>
                            {{ post.category }}</a>
                        <div><a href="{% url 'author-profile' post.author %}">{{ post.author.get_full_name }}</a></div>
                        <div>Posted on: {{ post.date_created }}</div>
                        <figure class="service text-center mt-3">
                            <div class="svcimg">
                                <img src="{{ post.thumbnail.url }}" class="figure-img img-fluid rounded"
                                     alt="Gambar Postingan">
                                <div class="overlay"></div>
                            </div>
                        </figure>
                        {{ post.content | safe }}
                    </div>
                    <!--comment-->
                    <div class="col-md-8 card mb-4  mt-3 ">
                        <div class="card-body">
                            <!-- comments -->
                            <h2>{{ comments.count }} comments</h2>
                            {% for comment in comments %}
                                <div class="comments" style="padding: 10px;">
                                    <p class="font-weight-bold">
                                        {{ comment.name }}
                                        <span class=" text-muted font-weight-normal">
                                            {{ comment.created_on }}
                                        </span>
                                    </p>
                                    {{ comment.body | linebreaks }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-8 card mb-4  mt-3 ">
                        <div class="card-body">
                            {% if new_comment %}
                                <div class="alert alert-success" role="alert">
                                    Your comment is awaiting moderation
                                </div>
                            {% else %}
                                <h3>Leave a comment</h3>
                                <form method="post" style="margin-top: 1.3em;">
                                    {{ comment_form | crispy }}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="hero-section2">
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="hero-content container">
            <h2 class="hero-title">
                <span>GET IN TOUCH</span>
            </h2>
            <p class="hero-description">Follow Social Media Kami di</p>
            <div id="social-headers">
                <ul>
                    <li class="fb-item">
                        <a href="#"><i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="twitter-item">
                        <a href="#"><i class="fab fa-twitter-square"></i>
                        </a>
                    </li>
                    <li class="github-item">
                        <a href="#"><i class="fab fa-github-square"></i>
                        </a>
                    </li>
                    <li class="instagram-item">
                        <a href="#"><i class="fab fa-instagram-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="warna-bg">
        <div class="text-white text-center pt-3 pb-3">
            © Copyright 2020 | StarLigHTs Team
        </div>
    </footer>
{% endblock %}