{% extends 'layouts/base.html' %}
{% block content %}

    <style>
        tr[data-href] {
            cursor: pointer;
        }
    </style>

    {% include 'layouts/navbar.html' %}
    <section class="container card pt-5">
        <div class="card-header">Postingan Anda</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Judul</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Hapus</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in post_list %}
                            <tr data-href="{% url 'post-detail' post.slug %}">
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ post.title }}</td>
                                <td>{{ post.date_created }}</td>
                                <td><a href="{% url 'post-update' post.slug %}" class="btn btn-sm btn-outline-info">Edit</a></td>
                                <td><a href="{% url 'post-delete' post.slug %}" class="btn btn-sm btn-outline-danger">Hapus</a></td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <a href="{% url 'post-create' %}" class="btn btn-primary btn-lg"><i class="fas fa-plus"></i> Post</a>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");

            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                })
            })
        })
    </script>
{% endblock %}