{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    {% include 'layouts/navbar.html' %}
    <div class="container">
        <div class="row login-content">
            <div class="col-sm-5 pt-4">
                <form method="POST" class="form">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="mb-2">Log In</legend>
                        {{ form | crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Login</button>
                    </div>
                </form>
                <div class="pt-3 pb-5">
                    <small class="text-muted">
                        Need an Account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
                    </small>
                </div>
            </div>
            <div class="col-sm-7 m-auto">
                <img src="{% static 'img/login.svg' %}" class="img-fluid" alt="Sign Up Now!">
            </div>
        </div>
    </div>
{% endblock %}